<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monitoring playground</title>

    <script type="text/javascript" src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/smoothie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/charts.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', path='styles/styles.css') }}">

</head>

<body onload="createTimeline()">
    <h1>CPU (%)</h1>
    <canvas id="cpu-chart" class="canvas"></canvas>
    <hr>
    <h1>Memory Usage (MB)</h1>
    <canvas id="mem-chart" class="canvas"></canvas>
    <hr>
    <table class="legend"></table>
</body>
</html>
