h1 {
    text-align: center;
    font-family: sans-serif;
}

.canvas {
    width: 100%;
    height: 300px;
}

.legend {
    text-align: left;
    font-family: sans-serif;
}

.square {
  width: 20px;
  height: 20px;
}
